[user]
	name = ozawaseijiro
	email = seijiro4751@gmail.com

[mergetool]
	keepBackup = true

[core]
	editor = vim
	autocrlf = input
	pager = less -cm
        quotepath = false

[ghq]
	root = /home/ozw-sei/go/src
[github]
	user = ozw-sei
[gui]
	encoding = utf-8
