emacs.d/el-get
emacs.d/elpa
emacs.d/undohist/
emacs.d/auto-save-list/
emacs.d/ac-comphist.dat
emacs.d/.cask/*

/.vim/bundle/*
!/.vim/bundles/neobundle.vim

/.vim/*
!/.vim/.gitignore
!/.vim/.vimrc
!/.vim/.vimrc.bundles
!/.vim/.vimrc.keymap
!/.vim/.vimrc.local

zsh/maximumx-awesome


!neobundle

/.vim/bundle/neocomplete.vim
/.vim/bundle/vim-colorschemes
/.vim/bundle/vim-fugitive
/.vim/bundle/vim-gitgutter

/aainc_gitconfig

