" keyboard shortcuts
let mapleader = ' '
noremap <C-h> <C-w>h
noremap <C-j> <C-w>j
noremap <C-k> <C-w>k
noremap <C-l> <C-w>l

inoremap <C-o> <C-p>
inoremap <C-k> <C-o>D
inoremap <C-u> <C-o>d0

inoremap <silent> jj <ESC>
inoremap <silent> <C-j> j
inoremap <silent> kk <ESC>
inoremap <silent> <C-k> k

nnoremap <leader>a :Ag<space>
nnoremap <leader>b :CtrlPBuffer<CR>
nnoremap <leader>t :CtrlP<CR>
nnoremap <leader>T :CtrlPClearCache<CR>:CtrlP<CR>
nnoremap <leader>] :TagbarToggle<CR>
nnoremap <leader><space> :call whitespace#strip_trailing()<CR>
nnoremap <leader>c <Plug>Kwbd
nnoremap <leader>g :GundoToggle<CR>
nnoremap <leader>G :Ggrep<space>
noremap <silent> <leader>v :source ~/.vimrc<CR>:filetype detect<CR>:exe ":echo 'vimrc reloaded'"<CR>


noremap <leader>ub :<C-u>Unite buffer<CR>
noremap <leader>up :<C-u>Unite -buffer-name=register register<CR>
noremap <leader>ur :<C-u>Unite file_mru buffer<CR>
noremap <leader>uf :UniteWithBufferDir -buffer-name=files file file/new<CR>

" in case you forgot to sudo
cnoremap w!! %!sudo tee > /dev/null %

if &shell =~# '*fish*'
    set shell=sh
endif
